@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    transform: rotate(60deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes shake-lr {

  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }

  10% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  80% {
    -webkit-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }

  90% {
    -webkit-transform: rotate(8deg);
    transform: rotate(8deg);
  }
}



@keyframes arrowRight {

  0%,
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }

  50% {
    transform: translate(10px, 0);
    opacity: 1;
  }
}


@keyframes apper {

  0% {
    transform: translate(0, -100px);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}


@keyframes close-animation {

  100% {
    transform: translate(0, -100px);
    opacity: 1;
  }

  90% {
    transform: translate(0, 0);
    opacity: 0;
    display: none;
  }
}