.black-navigation img {
  width: 50%;
  vertical-align: middle;
  padding: 4%;
  transition: none;
  cursor: pointer;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding: 3%;
  width: 100%;
  position: relative;
  transition: none;
  padding: 10px;
}


.toggler-menu-helper {
  width: 250% !important;
  left: 20px;
  position: absolute;

}