$base-color: #fff;
$dark-mode-color:#2a3042;



.scroll-hidden {
  overflow: hidden;
}

.scroll-auto {
  overflow: scroll;
  overflow-x: hidden;
}

.delete-item {
  display: none;
}

.scrollY {
  overflow-y: scroll;
}

.toggler-position {
  position: sticky;
  top: 0;
}


body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #495057;
  font-size: 13px;
  position: relative;
  background-color: #f8f8fb;
}

* {
  box-sizing: border-box;
  transition: all 0.4s linear;
}

a {
  text-decoration: none;
  color: #495057;
}

h5,
p,
h1,
h2,
h3,
h4,
h6,
a,
li,
i {
  margin: 0;
  font-weight: 500;
}

p {
  color: #74788d;
}

.menu-change_small {
  grid-template-columns: 80px 5fr;
}

.menu-change_big {
  grid-template-columns: 1fr 5fr;
}

.main-items {
  display: grid;
  // grid-template-columns: 80px 5fr;
  // grid-template-columns: 1.1fr 5fr;
  grid-template-rows: 70px 13fr;
  justify-items: start;
  width: 100%;
  height: 100%;
}

.black-navigation {
  background-color: #2a3042;
  padding: 5% 5%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  transition: none;
}

.white-navigation {
  width: 100%;
  background-color: #fff;
}

.black-content {
  width: 100%;
  background-color: #2a3042;
  padding: 0 !important;
}

.white-content {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  padding: 25px 20px;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 33% 65.5%;
  grid-template-rows: 50px;
  grid-gap: 8px;
  column-gap: 18px;
}

.title-box {
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer {
  padding: 20px 12px;
  color: #74788d;
  background-color: #f2f2f5;
  display: flex;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 3;
}