@media only screen and (max-width: 1150px) {
    .main-items {
        grid-template-columns: 250px 5fr;
    }


    .mediafor {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .welcome {

        .welcome-user {

            img {
                height: 200px;
                width: 40%;
            }
        }

        .welcome-avatar {

            img {
                top: 165px;
            }
        }


        .welcome-profile {
            width: 60%;
        }
    }

    .monthly-earnings {
        margin-bottom: 15px;
    }

    .earnings-graphics {

        .earnings-month {
            width: 30%;
        }

        .earnings-graph {
            width: 70%;
        }
    }

    .social-activity {
        height: 100%;
        margin-bottom: 15px;
    }

    .activity-info {
        margin-top: 30px;
        flex-direction: column;

        .activity-calendar {
            width: 100%;
            margin-bottom: 20px;
        }

        .activity-calendar-dates {
            padding: 0 0 40px 0;
            justify-content: flex-start;

            i {
                margin-right: 30px;
                font-size: 15px;
            }

            p {
                width: 75%;
            }
        }

        .activity-stats {
            width: 100%;

            .activity-stats_mark {
                margin-bottom: 10px;
            }

            .activity-stats_citys {

                .city-firstline {
                    width: 25%;
                }

                .city-secondline {
                    width: 25%;
                }

                .city-thirdline {
                    width: 50%;
                }
            }
        }


    }


    .user-menu img {
        margin: 0;
    }

    .mega-menu {
        padding-right: 0;
    }

    .mega-menu .mega-link {
        font-size: 10px;
        white-space: nowrap;
    }

    .mega-menu .wnavigation-search {
        padding: 0;
        padding-right: 6px;
    }

    .user-menu_darkmode {
        font-size: 10px;

        .switch {
            margin-left: 5px;
        }
    }

    .user-menu button {
        margin: 0;
    }

    .user-menu_darkmode .switch-label {
        width: 28px;
        height: 14px;
    }

    .user-menu_darkmode .switch-label::before {
        width: 100%;
        height: 100%;
    }

    .user-menu_darkmode .switch-label::after {
        width: 14px;
        height: 14px;
    }

    .user-menu_darkmode .switch-input:checked+.switch-label::after {
        left: 15px;
    }

    .user-menu_darkmode {
        margin-right: 5px;
        white-space: nowrap;
    }

    .list-method {
        white-space: nowrap;
    }

    .transaction-list_item {
        grid-template-columns: 0.2fr 0.6fr 0.8fr 0.7fr 0.4fr 0.8fr 0.8fr 90px;
    }

    .list-header {
        grid-template-columns: 0.2fr 0.6fr 0.8fr 0.7fr 0.4fr 0.8fr 0.8fr 90px;
    }
}


@media only screen and (max-width: 1000px) {

    .mega-menu {
        .mega-link {
            display: none;
        }

        .wnavigation-search {
            display: none;
        }
    }

    .main-items {
        grid-template-columns: 70px 1fr;
    }

    .black-content {
        // display: none;
        position: absolute;
        width: 250px;
        overflow: scroll;
        left: 0;
        top: 70px;
        border-top: none;
        height: 95%;
    }

    .white-content {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .helper {
        display: none;
    }

    .small-new-logo {
        display: block !important;
    }

    .old-scroll {
        display: none;
    }


    .hidden-media {
        display: none;
    }

    .new-scroll {
        display: block;
    }

    .profile-name {
        display: none !important;
    }

    .button-fulscreen {
        display: none;
    }

    .menu-packet_list {
        display: none;
    }
}



@media only screen and (max-width: 715px) {
    .graphics-stats .stat-fx {

        width: 100%;
        margin-bottom: 15px;
        align-items: center;
    }

    .graphics-stats {
        flex-wrap: wrap;
        margin-bottom: 5px;
    }

    .transactions {
        font-size: 11px;
        padding: 8px;
    }

    .white-content {
        padding: 25px 30px 25px 20px;
    }

    .graphics-emails .emails-sent {

        height: 100%;
        align-items: center;
    }

    .activity-stats {
        height: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .transactions-container {
        overflow: scroll;
    }

    .transaction-list_item {
        grid-template-columns: 30px 60px 90px 80px 40px 100px 100px 90px;
        width: 615px;

    }

    .list-header {
        grid-template-columns: 30px 60px 90px 80px 40px 100px 100px 90px;
        width: 615px;
    }
}

@media only screen and (max-width: 465px) {
    .white-navigation {
        padding: 0;
    }

    .mega-menu {
        padding: 0;
    }

    .mega-menu .wnavigation-scroll button {
        margin: 0;
    }

    .title-box {
        flex-direction: column;
        margin-bottom: 10px;
    }

    .welcome {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .welcome-info {
        flex-direction: column;
    }

    .welcome .welcome-profile {
        width: 100%;
    }

    .welcome .welcome-user img {
        height: 110px;

    }

    .earnings-graph {
        background-position: center;
    }

    .graphics-stats .stat-fx {
        align-items: center;
    }

    .graphics-emails .emails-sent {

        align-items: flex-start;
        flex-direction: column;

        ul {
            padding: 0;
        }
    }




    .activity-info .activity-calendar-dates i {
        margin-right: 0;
        font-size: 14px;

    }

    .activity-info .activity-calendar-dates {

        justify-content: space-between;

        p {
            width: 60%;
        }
    }

    .black-content .colorChange {
        font-size: 11px !important;
    }

    .welcome .welcome-avatar img {
        top: 80px;
    }

    .user-menu_darkmode span {
        display: none;
    }

    .user-menu {
        padding: 0;
    }

    .user-menu button {

        width: 40px;
        padding: 8px 4px;
        margin: 0;
    }

    .monthly-earnings .earnings-graphics {

        width: 100%;
        justify-content: space-between;
    }

    .menu-click-dropdown {

        right: -80px;
    }

    .view {
        white-space: nowrap;
    }

    .city-firstline {
        white-space: nowrap;
    }

    .menu-profile-dropdown {
        right: 0;
    }
}


@media only screen and (max-width: 315px) {
    .main-items {
        grid-template-columns: 50px 1fr;
    }

}