@import "./assets.scss";

.white-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  align-items: center;
  z-index: 2;
}

.mega-menu {
  display: flex;
  padding: 7px 12px;

  .wnavigation-scroll {
    button {
      border: 0;
      margin-right: 25px;
      background-color: #fff;
      cursor: pointer;
      margin-top: 8px;
      outline: none;
    }

    i {
      font-size: 16px;
    }
  }

  .wnavigation-search {
    padding: 0 16px;

    .search-block {
      position: relative;
      border: 0;

      i {
        position: absolute;
        left: -20px;
        top: 4px;
        font-size: 16px;
        padding-top: 5px;
      }
    }

    .search {
      display: block;
      width: 100%;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      border: none;
      border-radius: 25px;
      background-color: #f3f3f9;
      padding: 5px;

      &:focus {
        outline: none;
      }

      &:placeholder-shown {
        font-size: 15px;
        font-weight: 500;
        color: #495057;
      }
    }
  }

  .mega-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    margin-top: 8px;
    color: #555b6d;
    display: block;

    i {
      font-weight: 600;
    }
  }
}

.user-menu {
  display: flex;
  padding: 7px 12px;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;

  img {
    width: 40px;
    height: 100%;
    padding-top: 9px;
    text-align: center;
    padding: 5px;
    margin: 0 3px;
    background-color: #fff;
    cursor: pointer;
  }

  .avatar {
    border-radius: 15px;
  }

  .us-flag {
    padding: 8px;
    padding-top: 11px;
  }

  .fa-bell {
    position: relative;
    animation: shake-lr 2.5s infinite;

    sup {
      position: absolute;
      top: -15px;
      left: 13px;
      background-color: #f46a6a;
      color: #fff;
      font-size: 12px;
      font-family: Poppins, sans-serif;
      width: 20px;
      height: 15px;
      display: block;
      font-weight: 600;
      border-radius: 15px;
    }
  }

  .fa-sun {
    animation: rotate-90-cw 0.5s infinite;
  }

  button {
    height: 100%;
    width: 45px;
    padding: 9px 12px;
    margin: 0 3px;
    border: none;
    background-color: #fff;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #495057;
    }
  }

  span {
    margin: 0 3px;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    color: #555b6d;
    cursor: pointer;
  }
}



.button-fulscreen {
  outline: none;
}