@import "./assets.scss";

.activity-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    h4 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 28px;
    }


    .activity-calendar {
        display: flex;
        flex-direction: column;
        background-color: $base-color;
        width: 49%;
        padding: 20px;
        padding-right: 10px;


        button {
            margin: 0 auto;
        }
    }


}


.activity-calendar-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 20px 0;

    a {
        color: #556ee6;
    }

    i {
        padding-top: 5px;
    }

    h5 {
        font-size: 14px;


        i {
            font-size: 10px;
            color: #556ee6;
            padding-left: 12px;
        }
    }

    p {
        width: 55%;
    }


}

.anim-arr {
    animation: arrowRight 1.5s ease-in-out infinite;
    color: #556ee6;
}



.activity-stats {
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    width: 49%;
    padding: 20px;
    height: calc(100% - 55px);
    padding-right: 8px;

}


.activity-stats_mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    i {
        font-size: 50px;
        color: #556ee6;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 6px;
    }

    p {
        margin-bottom: 14px;
    }



}

.activity-stats_citys {

    .city-firstline {
        width: 45%;
        padding: 0;
    }

    .city-secondline {
        width: 20%;

    }

    .city-thirdline {

        width: 35%;

        .san-francisco {
            background-color: #556ee6;
            width: 94%;
        }

        .los-angeles {
            background-color: #34c38f;
            width: 82%;
        }

        .san-diego {
            background-color: #f1b44c;
            width: 70%;
        }
    }

    table {
        width: 100%;

        td {
            padding: 8px;

            h5 {
                font-size: 17px;
            }

            div {
                height: 5px;
                border-radius: 10px;
            }
        }
    }
}