.social-activity {
    margin-top: 30px;
    padding: 20px;

    h4 {
        color: #495057;
        font-size: 15px;
        margin-bottom: 15px;
        font-weight: bold;
    }
}

.social-main-fb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;

    i {
        color: #556ee6;
        font-size: 24px;
        border: 15px solid rgba(85, 110, 230, .25);
        border-radius: 30px;
        margin-bottom: 25px;
    }

    .lnk-fb {
        font-size: 17px;
        margin-bottom: 10px;

        .lnk-text {
            color: #74788d;
        }
    }

    p {
        text-align: center;
        padding: 18px;
    }

    .lnk-more {
        color: #556ee6;
    }
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .social {
        padding: 0 12px;
        text-align: center;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h5 {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 6px;

        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin-bottom: 14px;

            i {
                font-size: 17px;
                color: #fff;

            }
        }


    }

    .social-fb {
        span {
            background-color: #556ee6;


        }
    }

    .social-twt {
        span {
            background-color: #50a5f1;


        }
    }

    .social-inst {
        span {
            background-color: #e83e8c;


        }
    }
}