.transactions {
  display: flex;
  flex-direction: column;
  background-color: $base-color;
  padding: 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 30px;

  h4 {
    font-size: 15px;
    margin-bottom: 24px;
    font-weight: bold;
  }
}

.list-header {
  display: grid;
  grid-template-columns: 0.5fr repeat(6, 1fr) 90px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  padding: 10px 5px;

  div {
    font-weight: bold;
    color: #495057;
  }

  div:last-child {
    text-align: right;
  }
}

.transaction-list_item {
  display: grid;
  grid-template-columns: 0.5fr repeat(6, 1fr) 90px;
  padding: 10px 5px;
  border-bottom: 1px dashed #9c9d9e;

  .list-id {
    font-weight: bold;
  }

  .list-button {
    cursor: pointer;
    overflow: hidden;
    border-radius: 30px;
    color: #fff;
    background-color: #556ee6;
    border-color: #556ee6;
    padding: 4px 8px;
    font-size: 11px;
    margin-left: 10%;
    outline: none;
  }

  .list-button:hover {
    background-color: #5fc0bf;
    border-color: #5fc0bf;
    outline: none;
  }

  .list-status {
    font-size: 11px;
    border-radius: 5px;
    text-align: center;
    height: 18px;
    padding: 2px 4px;
  }

  .list-method {
    i {
      margin-right: 5px;
    }
  }
}

.Paid {
  color: #34c38f;
  background-color: rgba(52, 195, 143, 0.18);
  width: 40px;
}

.Chargeback {
  color: #f46a6a;
  background-color: rgba(244, 106, 106, 0.18);
  width: 85px;
}

.Refund {
  color: #f1b44c;
  width: 50px;
  background-color: rgba(241, 180, 76, 0.18);
}